{% extends "com/card.html" %}
{% load static %}

{% block title %}
<title>Log Out</title>
{% endblock %}

{% block card_title%}
Log Out
{% endblock %}

{% block card_content %}
<p class="card-text">You are now logged out.</p>
{% endblock %}

{% block card_action %}
<a style="margin: 0;" href="{% url 'login' %}">Return to login</a>
{% endblock %}

{% block before_card %}
<div class="container card-container">
  <div class="row">
{% endblock %}
{% block after_card %}
  </div>
</div>
<img class="animal-img animal-left" src="{% static "img/fox_laptop_ellipse.png"%}">
{% endblock %}
