{% extends "com/cardform.html" %}
{% load static %}

{% block title %}
<title>Log In</title>
{% endblock %}

{% block card_title %}
Log In
{% endblock %}

{% block extra_fields %}
<input type="hidden" name="next" value="{{ next }}" />
{% endblock %}

{% block card_action %}
  <div class="card-action center-align">
    <a  style="margin: 0;" href="{% url 'registration_register' %}">Create account</a>
    <br/>
    <a style="margin: 0;" href="{% url 'password_reset' %}">Forgot password?</a>
  </div>
{% endblock %}

{% block before_card_form %}
<div class="container card-container">
  <div class="row">
{% endblock %}
{% block after_card_form %}
  </div>
</div>
<img class="animal-img animal-right" src="{% static "img/dog_laptop_ellipse.png" %}">
{% endblock %}
