{% extends "com/cardform.html" %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block card_title %}
Change Password
{% endblock %}

{% block card_text %}
<p class="card-text">Instructions to change your password will be sent to the provided email.</p>
{% endblock %}

{% block card_action %}
<div class="card-action center-align">
  <a style="margin: 0;" href="{% url 'login' %}">Return to login</a>
</div>
{% endblock %}

{% block before_card_form %}
<div class="container card-container">
  <div class="row">
{% endblock %}
{% block after_card_from %}
  </div>
</div>
{% endblock %}
