{% extends "com/card.html" %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block card_title %}
Change Password
{% endblock %}

{% block card_content %}
<p class="card-text">We've emailed you instructions to change your password.
  If they haven't arrived in a few minutes, check your spam folder.</p>
{% endblock %}

{% block card_action %}
<a style="margin: 0;" href="{% url 'login' %}">Return to login</a>
{% endblock %}

{% block before_card %}
<div class="container card-container">
  <div class="row">
{% endblock %}

{% block after_card %}
  </div>
</div>
{% endblock %}
