{% extends "com/cardform.html" %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block card_title %}
  {% if validlink %}
    Change Password
  {% else %}
    Password Change Failed
  {% endif %}
{% endblock %}

{% block card_text %}
  {% if not validlink %}
  <p class="card-text">The password change link was invalid, possibly because it has already been used. Please request a new password, or login again.</p>
  {% endif %}
{% endblock %}

{% block card_action %}
  {% if not validlink %}
  <div class="card-action center-align">
    <a style="margin: 0;" href="{% url 'password_reset' %}">Request a new password</a><br/>
    <a style="margin: 0;" href="{% url 'login' %}">Return to login</a>
  </div>
  {% endif %}
{% endblock %}

{% block before_card_form %}
<div class="container card-container">
  <div class="row">
{% endblock %}
{% block after_card_form %}
  </div>
</div>
{% endblock %}

