{% extends "base.html" %}

{% block title %}
<title>Change Password | Uncommon Hacks Registration</title>
{% endblock %}

{% block content %}
<div class="background">
  <div class="container">
    <div class="title row">
      Change Password
    </div>
    <div class="row center-align">
      We've emailed you instructions to change your password.
      If they haven't arrived in a few minutes, check your spam folder.
    </div>
    <div class="row center-align">
      <a href="{% url 'login' %}">Return to login</a>
    </div>
  </div>
</div>
{% endblock %}
