{% extends "base.html" %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}
<div class="background">
  <div class="container">
    {% if validlink %}
    <div class="title row">
      Change Password
    </div>
    <form>
      {% csrf_token %}
      <div class="row">
        Please enter, and confirm, your new password.
      </div>
      <div class="row">
        <div class="error">
          {% for error in form.source.errors %}
          {{ error }}<br/>
          {% endfor %}
          {% for error in form.non_field_errors %}
          {{ error }}<br/>
          {% endfor %}
        </div>
        {% for field in form.visible_fields %}
        <div class="field-label">{{ field.label_tag }}</div>
        <div class="field">{{ field }}</div>
        <div class="error">
          {% for error in field.errors %}
          {{ error }}<br/>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="row center-align">
        <input class="btn btn-default btn-lg" type="submit" value="Change my password" /></td>
      </div>
    </form>
    {% else %}
    <div class="title row">
      Password Change Failed
    </div>
    <div class="row center-align">
      The password change link was invalid, possibly because it has already been used.
      Please request a new password.
    </div>
    <div class="row center-align">
      <a href="{% url 'password_reset' %}">Request a new password</a>
      <br/>
      <a href="{% url 'login' %}">Return to login</a>
    </div> 
    {% endif %}
  </div>
</div>
{% endblock %}
