{% extends "base.html" %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}
<div class="background"
     style="align-items: center; display: flex; justify-center: center">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card white">
          <form method="post">
            {% csrf_token %}
            <div class="card-content black-text">
              <span class="card-title">Change Password</span>
              <p>Instructions to change your password will be sent to the provided email.</p>
              <div class="error">
                {% for error in form.source.errors %}
                  {{ error }}<br/>
                {% endfor %}

                {% for error in form.non_field_errors %}
                  {{ error }}<br/>
                {% endfor %}

                {% for field in form.visible_fields %}
                  {% for error in field.errors %}
                    {{ error }}<br/>
                  {% endfor %}
                {% endfor %}
              </div>
              {% for field in form.visible_fields %}
              <div class="input-field">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              </div>
              {% endfor %}
              <div class="center-align">
                <input class="btn btn-default btn-lg" value="submit" type="submit">
              </div>
            </div>
            <div class="card-action center-align">
              <a href="{% url 'login' %}">Return to login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
