{% extends "base.html" %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}
<div class="background"
     style="align-items: center; display: flex; justify-center: center">
  <div class="container">
    {% if validlink %}
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card white">
          <form method="post">
            {% csrf_token %}
            <div class="card-content black-text">
              <span class="card-title">Change Password</span>
              <p>Please enter, and confirm, your new password.</p>
              <div class="error">
                {% for error in form.source.errors %}
                {{ error }}<br/>
                {% endfor %}

                {% for error in form.non_field_errors %}
                {{ error }}<br/>
                {% endfor %}

                {% for field in form.visible_fields %}
                {% for error in field.errors %}
                {{ error }}<br/>
                {% endfor %}
                {% endfor %}
              </div>

              {% for field in form.visible_fields %}
              <div class="input-field">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              </div>
              {% endfor %}
              <div class="center-align">
                <input class="btn btn-default btn-lg" value="submit" type="submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% else %}
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card white">
          <div class="card-content black-text">
            <span class="card-title">Password Change Failed</span>
            <p>The password change link was invalid, possibly because it has already been used. Please request a new password, or login again.</p>
          </div>
          <div class="card-action center-align ">
            <a href="{% url 'password_reset' %}">
              Request a new password</a><br/>
            <a href="{% url 'login' %}">
              Return to login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}
