<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card white">
      <form method="post">
        {% csrf_token %}
        <div class="card-content black-text">
          <span class="card-title">Create an Account</span>
          {% for field in form.visible_fields %}
          <div class="input-field">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
          {% endfor %}
          <div class="center-align ">
            <input class="btn btn-default btn-lg" value="submit" type="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
