{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}

{% block before_card %}
{% endblock %}

<div class="z-depth-4">
  <div class="card white">
    <div class="card-content">
      <span class="card-title">{% block card_title %}{% endblock %}</span>
      {% block card_content %}{% endblock %}
    </div>
    <div class="card-action center-align">
      {% block card_action %}{% endblock %}
    </div>
  </div>
</div>

{% block after_card %}
{% endblock %}

{% endblock %}
