{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}

{% block before_card_form %}
{% endblock %}
<div class="z-depth-4">
  <div class="card white">
    <form method="post" {% block form_attributes %}{% endblock %}>
      {% csrf_token %}
      <div class="card-content">
        <span class="card-title">{% block card_title %}Title{% endblock %}</span>
        {% if form.source.errors or form.non_field_errors %}
          <div class="card-form-error-wrap">
            <div class="error">
              {% for error in form.source.errors %}
                {{ error }}<br/>
              {% endfor %}
              {% for error in form.non_field_errors %}
                {{ error }}<br/>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="card-form-field-wrap">
          {% for field in form.visible_fields %}
            <div class="input-field">
              {{ field }}
              <label for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>
	    <div class="error">
              {% for error in field.errors %}
	        {{ error }}<br/>
	      {% endfor %}
	    </div>
          {% endfor %}
          {% block extra_fields %}{% endblock %}
        </div>
        <div class="center-align">
          <input class="btn btn-defualt btn-lg" type="submit" value="submit">
        </div>
      </div>
      <div class="card-action center-align">
        {% block card_action %}{% endblock %}
      </div>
    </form>
  </div>
</div>

{% block after_card_form %}
{% endblock %}

{% endblock %}
