<!--may want this later <label id="{{ field.id_for_label }}">{{ field.label }}</label>-->

<!-- 2019TODO clean this up -->
<script>
let validateFilesize = function (e) {
  if (!window.FileReader) { return; }
  if (!e.files) { return; }
  let file = e.files[0];
  if (!file) { return; }
  if (file.size > 10000000) {
    e.value = null;
    alert("Resume too large, please restrict file size to 10MB!");
  }
};
</script>

<div class="file-field input-field">
  <div class="btn">
    <span style="color: white;">{{ field.label }}</span>
    {{ field }}
  </div>
<div class="file-path-wrapper">
  <input class="file-path validate" type="text" accept=".pdf" onchange="validateFilesize(this);">
  <span class="helper-text">{{ field.help_text }}</span>
</div>

