{% load %}

{% block css_overrides %}
<style>
label {
  font-size: 1.5rem;
  color: #9e9e9e;
}
span {
  font-size: 1.5rem;
  color: #f48fb1;
}
</style>
{% endblock %}

{% block extra_js %}
<script>
let validateFilesize = function (e) {
  if (!window.FileReader) { return; }
  if (!e.files) { return; }

  let file = e.files[0];
  if (!file) { return; }

  if (file.size > 10000000) {
    e.value = null;
    alert("Resume too large, please restrict file size to 10MB!");
  }
};

let formModified = 0;
$(document).ready(function() {
  formModified = 0;
  $("form *").change(function(){
      formModified = 1;
  });
  window.onbeforeunload = confirmExit;
  function confirmExit() {
      if (formModified == 1) {
          return "Your changes won't be saved if you don't submit. Are you sure you want to leave?";
      }
  }
  $("input[name='submit']").click(function() {
      formModified = 0;
  });
});
</script>
{% endblock %}

{% block form_com %}
<form method="post" {{ enctype }}>
  {% csrf_token %}

  <!--Global Form Errors-->
  <div class="row">
    <div class="error">
      {% for error in form.source.errors %}
      {{ error }}<br/>
      {% endfor %}
      {% for error in form.non_field_errors %}
      {{ error }}<br/>
      {% endfor %}
    </div>
  </div>

  <!--Fields-->
  {% for field in form.visible_fields %}
  <div class="row">
    {% if field.field.widget.template_name == "django/forms/widgets/text.html" or field.field.widget.template_name == "django/forms/widgets/date.html" %}
      {% include "com/text_field.html" with field=field %}
    {% endif %}
    {% if field.field.widget.template_name == "django/forms/widgets/textarea.html" %}
      {% include "com/textarea_field.html" with field=field %}
    {% endif %}
    {% if field.field.widget.template_name == "django/forms/widgets/select.html" %}
      {% include "com/select_field.html" with field=field %}
    {% endif %}
    {% if field.field.widget.template_name == "django/forms/widgets/clearable_file_input.html" %}
      {% include "com/file_field.html" with field=field %}
    {% endif %}
    {% if field.name == "legal1" or field.name == "legal2" or field.name == "legal3" or field.name == "is_this_a" or field.name == "pikachu" or field.name == "brain_1" %}
      {{ field }}
    {% endif %}
    <label>{{ field.help_text }}</label>
    <div class="error">
      {% for error in field.errors %}
      {{ error }}<br/>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <!--Submit Button-->
  <div class="row center-align">
    <input class="btn btn-default btn-lg" name="submit" value="Submit" type="submit"/>
  </div>
</form>
{% endblock %}
