{% block css_overrides %}
<style>
label, input, textarea {
  font-size: 1em;
   color: white;
}
span {
  color: #f48fb1;
}
</style>
{% endblock %}

{% block form_com %}
<form method="post" {{ enctype }}>
  {% csrf_token %}

  <!--Global Form Errors-->
  <div class="row">
    <div class="error">
      {% for error in form.source.errors %}
      {{ error }}<br/>
      {% endfor %}
      {% for error in form.non_field_errors %}
      {{ error }}<br/>
      {% endfor %}
    </div>
  </div>

  <!--Fields-->
  {% for field in form.visible_fields %}
  <div class="row">
    {{ field.label_tag }}
    {{ field }}
    <label>{{ field.help_text }}</label>
    <div class="error">
      {% for error in field.errors %}
      {{ error }}<br/>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <!--Submit Button-->
  <div class="row center-align">
    <input class="btn btn-default btn-lg" value="Submit" type="submit"/>
  </div>
</form>
{% endblock %}
