html, body {
  padding: 0;
  margin: 0;
  color: black;
  background: white;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* General */

.title{
  font-family: 'TruenoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 2.1rem;
  color: black;  
}

.round{
  border-radius: 20px;
}

/* Form */

.error{
  color: red; 
  font-size: 1em;
}

/* Login, Register, etc. */

.card-row{
  margin-top: 20vh;
}

.card-image-wrapper{
  margin-top: 20vw;
}

.card-image {
  height: 30vh;
}
