html, body {
  padding: 0;
  margin: 0;
  color: black;
  background: white;
  min-height: 100vh;
}

/* General Styles*/

.title{
    font-size:2.1rem;
    padding-left: 40px;
    padding-top: 20px;
}

.background{
  min-height: 85vh;
}

/* Form Styles */

.field-head{
  color: #bfbfbf;
  font-size: 1em;
}

.error{
  color: red; 
  font-size: 1em;
}

.card-image-wrapper{
  height: auto;
  
}

.card-image {
  height: auto;
  width: 20vw;
}
