html, body {
  padding: 0;
  margin: 0;
  color: black;
  background: white;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* General */

.animal-img{
  position:absolute;
  bottom: 0;
  height: 30vh;
}

/* Forms */

.error{
  color: red; 
  font-size: 1.2rem;
}

/* Navbar */

#nav-wrapper{
  padding-top: 20px;
}

#nav-title{
  font-family: 'TruenoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 2.1rem;
  color: black;
  padding-left: 20px;
}

#nav-title-responsive{
  font-family: 'TruenoRegular';
  font-size: 1.7em;
  margin-top: 5vh;
  display: none;
}

#nav-logout-wrapper{
  padding-right: 20px;
}

#nav-logout{
  font-family: 'TruenoRegular';
  font-size: 1.5rem;
}

/* Card Views */
.card-container {
  max-width: 400px;
  min-width: 300px;
  margin-top: 15vh;
}

.card-form-error-wrap{
  padding-top: 1rem;
}
.card-form-field-wrap{
  padding-top: 1rem;
}

/* Login */

#login-dog{
  right: 0;
}

/* Applicant Index */

#status-container{
  margin-top: 25vh;
  font-size: 1.5rem;
  color: black;
}

#status-owl{
  left: 0;
}

@media(min-width: 951px) and (min-height: 601px) {
  html, body {
    height: 100vh;
    max-height: 100vh;
  }
}

/* Media Queries */
/* Small Screen */
@media(max-width: 950px){

  /* General */
  .animal-img{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;    
  }

  /* Navbar */
  #nav-wrapper{
    height: atuo;
  }
  #nav-title{
    display: none;
  }
  #nav-title-responsive{
    display: block;
  }
  #nav-logout-wrapper{
    padding-right: 0;
  }
  #nav-logout{
    font-size: 1.3rem;
  }

  /* Card Views */
  .card-container{
    margin-top: 10vh;
  }
  
  /* Applicant Index */
  #status-container{
    margin-top: 5vh;
  }
}

/* Low Height */
@media(max-height:500px) {
  .animal-img{
    display: none;
  }
}
