// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

form input {
  font-size: $input-font-size-small;
}

form label{
  font-size: $label-font-size-small;
}

@media #{$large-and-up}{
  form input{
    font-size: $input-font-size;
  }
  form label{
    font-size: $label-font-size;
  }
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
