<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Uncommon Hacks Decision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
<!-- TODO -->
    </style>
  </head>
  <body>
    <p>Congratulations!</p>
    <p>You’ve been accepted to Uncommon Hacks 2019! We look forward to seeing you this February 16-17th in Hyde Park. We have a <i>hype</i> event planned and can’t want to see the awesome projects you are going to build. Here are some of the details:</p>
    <br>
    <p><h3>Event Information</h3></p>
    <p>Registration will open at 9am on Saturday, February 16th, 2019. Please arrive by 11am at the very latest. The event will end around 4pm on Sunday February 17th. An outline of the schedule is on our website.</p>
    <p>We have created a getting started guide with detailed information about what to expect for Uncommon Hacks. Please check it out <a href='https://github.com/uncommonhacks/guide'>here</a>!</p>
    <br>
    <p><h3>Confirmation</h3></p>
    <p>Please log back into the registration system at <a href='https://registration.uncommonhacks.com'>https://registration.uncommonhacks.com</a> to confirm that you will be attending. This is to help us get a head count before the event, so please complete this confirmation by <b>Saturday February 5th at 11:59 pm</b>! If you forget to confirm by that date, or your status changes at any time, the form will remain open for you to update.
    </p>
    <br>
    <p><h3>Travel</h3></p>
    <p>The event is at the <b>Polsky Exchange North</b> - <u>1452 E 53rd St, 2nd Floor, Chicago, IL 60615</u>. Full directions are at the bottom of this email.<p>
    <p>Reminder regarding travel reimbursements: we are NOT going to be providing travel reimbursements for students traveling this year. If you have any questions about registration, feel free to email us at <a href='mailto:celery@uncommonhacks.com'>celery@uncommonhacks.com</a> or reach out to us on our FB page!</p>
    <br>
    <p><h3>Directions</h3></p>
    <p><h5>Public Transit</h5></p>
    <ul>
        <li><i>CTA</i>: You can use Google Maps to find the best way to reach the Polsky Center via the CTA from your location. The 55 bus (from Midway and Red/Green lines) and 6 bus (from downtown) go within a few blocks of the Polsky Exchange, and the Red and Green lines are a short bus transfer away.</li>
        <li><i>Metra (commuter rail)</i>: The Polsky Exchange is located very near the 51st/53rd Street stop of the Metra Electric line, a &lt;15 minute ride from Millennium Station downtown.</li>
    </ul>
    <p><h5>By Car</h5></p>
    <ul>
        <li><i>Driving Directions</i>: The Polsky Exchange is just west of Lake Shore Drive on 53rd Street. Use Google maps to plan your route.</li>
        <li><i>Parking</i>: Metered and neighborhood street parking are available nearby. For meter parking, we recommend using ParkChicago to pay for parking with your phone, allowing you to extend your time without having to leave the Polsky Exchange. There is also some free neighborhood parking along the streets of Hyde Park, but be sure to be aware of parking signs and conditions that will elicit parking fines and violations. The closest paid parking garage is located on Lake Park Ave. north of 53rd Street, just south of the McDonalds. Another paid parking surface lot is located just north of the Harper Theater on Harper Ave.</li>
    </ul>
    <p><h5>By Flight</h5></p>
    <ul>
        <li>The closest airport to the Polsky Exchange is the <b>Chicago Midway Airport (MDW)</b>. From Midway, you can take the 55 bus or an Uber which shouldn’t cost too much!</li>
        <li>The second closest airport to the Polsky Exchange is <b>Chicago O'Hare Airport (ORD)</b> which is a little bit further by public transit but still doable (Blue line to downtown, then 6 bus to Hyde Park is likely the easiest).</li>
    </ul>
    <p><h5>By Megabus</h5></p>
    <ul>
        <li>Megabus has many buses that route to Chicago and then you can take public transit or an Uber from the drop off location to get to the Polsky Exchange.</li>
    </ul>
    <br>
    <p>Best,</p>
    <p>The Uncommon Hacks Team</p>
  </body>
</html>
