<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Uncommon Hacks Application Reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
    </style>
  </head>
  <body>
    <p>Hey there!</p>
    <p>Reminder to PLEASE confirm your attendance within your Uncommon Hacks 2019 <a href='registration.uncommonhacks.com'>portal</a> ASAP if you haven’t already (if you have, great - super excited to see you there)!</p>
    <p>This is VERY important, and we cannot guarantee your spot without your confirmation submission.</p>
    <p>Log into and visit registration.uncommonhacks.com to check your portal and fill out the confirmation form!</p>
    <br>
    <p>Hope to see your response and excited to see you at the event!!</p>
    <br>
    <p>Best,</p>
    <p>The Uncommon Hacks Team</p>
  </body>

</html>
