<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Uncommon Hacks Application Reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
<!-- TODO -->
    </style>
  </head>
  <body>
    <p>Hey there!</p>
    <br>
    <p>Get hyped - Uncommon Hacks is just around the corner, and applications are due by <b>11:59 p.m. on January 20th</b>! We see you’ve signed up to apply for the event, but haven’t applied yet. The application is super quick (&lt;10 min), super easy (less than one sentence per question), and super fun (peep the fill-in-your-own memes)!</p>
    <br>
    <p>So what are you waiting for? Apply <a href='https://uncommonhacks.com'>HERE</a> as soon as you can!</p>
    <br>
    <p><i>Event Details:</i>
    <p><b>What</b>: Uncommon Hacks</p>
    <p><b>When</b>: February 16-17, 2019</p>
    <p><b>Where</b>: Polsky Exchange North - 1452 E 53rd St, Chicago, IL 60615</p>
    <br>
    <p>Really excited to read your application and hope to see you there!</p>
    <p>- The Uncommon Hacks Team</p>
  </body>
</html>
