<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Uncommon Hacks Application Reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
<!-- TODO -->
    </style>
  </head>
  <body>
    <p>Hey there,</p>
    <p>If you still want to come to Uncommon Hacks, applications are closing on February 20th! Finish your application <a href='https://{{ site }}/'>here</a>.</p>
    <p>Thanks!</p>
    <p>The Uncommon Hacks Team</p>
  </body>
</html>
