<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Uncommon Hacks Decision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
<!-- TODO -->
    </style>
  </head>
  <body>
    <p>Hi there,</p>
    <p>You’ve been waitlisted for Uncommon Hacks 2019! You are someone we would love to have at our event, but are unsure if we will have space to host! Keep checking back at <a href='https://uncommonhacks.com'>our website</a> to check for an updated status on your application. We’re sincerely hoping we will be able to see you this February 16-17th! Here are some of the details in the case you are accepted off of the waitlist:</p>
    <br>
    <p><h3>Event Information</h3></p>
    <p>Registration will open at 9am on Saturday, February 16th, 2019. Please arrive by 11am at the very latest. The event will end around 4pm on Sunday February 17th. An outline of the schedule is on our website at <a href='https://uncommonhacks.com'>https://uncommonhacks.com</a>.</p>
    <p>We have created a getting started guide with detailed information about what to expect for Uncommon Hacks. Please check it out <a href='https://github.com/uncommonhacks/guide'>here</a>!</p>
    <br>
    <p><h3>Travel</h3></p>
    <p>The event is at the <b>Polsky Exchange North</b> - <u>1452 E 53rd St, 2nd Floor, Chicago, IL 60615</u>.<p>
    <p>Reminder regarding <b>travel reimbursements</b>: we are <b>NOT</b> going to be providing travel reimbursements for students traveling this year. If you have any questions about registration, feel free to email us at <a href='mailto:celery@uncommonhacks.com'>celery@uncommonhacks.com</a> or reach out to us on our FB page!</p>
    <br>
    <p>Best,</p>
    <p>The Uncommon Hacks Team</p>
  </body>
</html>
