<!DOCTYPE html>
<html lang="en">
    <head>
          {% block title %}<title>uncommon hacks registration</title>{% endblock %}
          {% load static %}
          <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.css" %}" media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{% static "materialize/css/style.css" %}" media="screen,projection"/>
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        {% block sidebar %} {% if user.is_authenticated %} <a href='{% url 'logout' %}'>logout</a>{% endif %}{% endblock %}
        <div class=container>
        {% block content %}<h2>Welcome to the uncommon hacks registration site!!</h2><!-- default content text (typically empty) -->{% endblock %}
        </div>
        <script type="text/javascript" src="{% static "materialize/js/bin/materialize.min.js" %}"></script>
    </body>
</html>
