<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Uncommon Hacks</title>
    {% endblock %}

    {% load static %}

    <!-- Links -->
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
                          href="{% static "css/materialize.css" %}"
                          media="screen,projection"/>
    <link type="text/css" rel="stylesheet"
                          href="{% static "css/style.css" %}"
                          media="screen,projection"/>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Scripts -->
    <script type="text/javascript"
            src="{% static "js/jquery-3.2.1.min.js" %}">
    </script>
    <script type="text/javascript"
            src="{% static "js/bin/materialize.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    {% block extra_js %}
    {#  within templates #}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    {% if user.is_authenticated %}
    <nav>
      <div class="nav-wrapper">

          <ul id="nav-mobile" class="right">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
      </div>
    </nav>
    {% endif %}    
    {% endblock %}

    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}
  </body>
</html>
