<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Uncommon Hacks</title>
    {% endblock %}

    {% load static %}

    <!-- Links -->
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
                          href="{% static "materialize/css/materialize.css" %}"
                          media="screen,projection"/>
    <link type="text/css" rel="stylesheet"
                          href="{% static "style.css" %}"
                          media="screen,projection"/>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Scripts -->
    <script type="text/javascript"
            src="{% static "jquery-3.2.1.min.js" %}">
    </script>
    <script type="text/javascript"
            src="{% static "materialize/js/bin/materialize.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "main.js" %}"></script>
  </head>
  <body>
    {% block navbar %}
    {% if user.is_authenticated %}
    <nav>
      <ul id="nav-mobile" class="right">
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    {% endif %}
    {% endblock %}

    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}
  </body>
</html>
