{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Log In</title>
{% endblock %}

{% block content %}
{{ form.form }}
<div class="container card-container">
  <div class="row">
    <div class="z-depth-4">
      <div class="card white">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="card-content">
            <span class="card-title">Login</span>
            {% if form.source.errors or form.non_field_errors %}
            <div class="card-form-error-wrap">
              {% for error in form.source.errors %}
                {{ error }}<br/>
              {% endfor %}
              {% for error in form.non_field_errors %}
                {{ error }}<br/>
              {% endfor %}
            </div>
            {% endif %}
            <div class="card-form-field-wrap">
              {% for field in form.visible_fields %}
                <div class="input-field">
                  {{ field }}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
              {% endfor %}
            </div>
            <div class="center-align">
              <input class="btn btn-defualt btn-lg" type="submit" value="submit">
            </div>
          </div>
          <div class="card-action center-align">
            <a style="margin: 0;" href="{% url 'registration_register' %}">Create account</a>
            <br/>
            <a style="margin: 0;" href="{% url 'password_reset' %}">Forgot password?</a>
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</div>
<img id="login-dog" class="animal-img" src="{% static 'img/dog_laptop_ellipse.png' %}">
{% endblock %}
