{% extends "com/card.html" %}

{% block title %}
<title>Account Activated</title>
{% endblock %}

{% block card_title %}
Account Activated
{% endblock %}

{% block card_content %}
<p class="card-text">Your Uncommon Hacks account is now active. You may now login.</p>
{% endblock %}

{% block card_action %}
<a style="margin: 0;" href="{% url 'login' %}">Return to login</a>
{% endblock %}

{% block before_card %}
<div class="container card-container">
  <div class="row">
{% endblock %}

{% block after_card %}
  </div>
</div>
{% endblock %}
