{% extends "com/card.html" %}
{% load static %}

{% block title %}
<title>Account Created</title>
{% endblock %}

{% block card_title %}
Account Created
{% endblock %}

{% block card_content %}
<p class="card-text">Your account has been created. You must activate your account using the validation link sent to your email before you may log in.</p>
{% endblock %}

{% block card_action %}
<a style="margin: 0;" href="{% url 'login' %}">Return to login</a>
{% endblock %}

{% block after_card %}
  </div>
</div>
<img class="animal-img animal-left" src="{% static "img/cat.png"%}">
{% endblock %}
