{% extends "base.html" %}

{% block title %}
<title>Application Status</title>
{% endblock %}

{% block content %}
<div class="background">
  <div class="container">
    <div class="row title">
      Application Status
    </div>
    <div class="row center-align">
      Welcome to the Uncommon Hacks 2019 Application Portal.
    </div>
    <div class="row center-align">
      Status: {{ status }}
      {% if over_application_deadline %}
      <br/>Sorry, the application deadline has passed. Apply again next year!
      {% endif %}
      {% if over_confirmation_deadline %}
      <br/>Sorry, the confirmation deadline has passed. Apply again next year!
      {% endif %}
    </div>
    <div class="row center-align">
      {% if open_application  %}
      <a class="btn btn-default btn-lg" href='apply/'>Apply Here!</a>
      {% endif %}
      {% if open_confirmation %}
      <a class="btn btn-default btn-lg" href='confirm/'>Confirm Here!</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
