{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Application</title>
{% endblock %}

<!-- Scripts run from anywhere within the document -->
{% block extra_js %}
<script>
$(document).ready(function() {
  let brainCanvas = document.getElementById("brainCanvas");
  let isthisaCanvas = document.getElementById("isthisaCanvas");
  let pikachuCanvas = document.getElementById("pikachuCanvas");

  let brainCtx = brainCanvas.getContext("2d");
  let isthisaCtx = isthisaCanvas.getContext("2d");
  let pikachuCtx = pikachuCanvas.getContext("2d");

  let brainImg = new Image(brainCanvas.width, brainCanvas.height);
  let isthisaImg = new Image(isthisaCanvas.width, isthisaCanvas.height);
  let pikachuImg = new Image(pikachuCanvas.width, pikachuCanvas.height);

  brainImg.src = "{% static "images/expanding_brain.png" %}";
  isthisaImg.src = "{% static "images/is_this_a.jpg" %}";
  pikachuImg.src = "{% static "images/surprised_pikachu.jpg" %}";

  brainImg.onload = function() {
    brainCtx.drawImage(brainImg, 0, 0, brainCanvas.width, brainCanvas.height);
  };
  isthisaImg.onload = function() {
    isthisaCtx.drawImage(isthisaImg, 0, 0, brainCanvas.width, brainCanvas.height);
  };
  pikachuImg.onload = function() {
    pikachuCtx.drawImage(pikachuImg, 0, 0, pikachuCanvas.width, pikachuCanvas.height);
  };
});
</script>
{% endblock %}

{% block content %}
<div class="background">
  <div class="container">
    <div class="row title">
      Application
    </div>
    {% include "com/form.html" %}
  </div>
</div>
{% endblock %}
